<div (click)="toggleModal($event)" class="day-number">
    {{dayNumber}}
</div>

<div *ngIf="showModal" class="cal-modal column column-center-vertical">
    <div class="modal-content row">
        <div class="input-row column">
            <label class="">Month</label>
            <input class="" type="text" [(ngModel)]="inputsData.month">
        </div>
        <div class="input-row column">
            <label class="">Day</label>
            <input class="" type="text" [(ngModel)]="inputsData.day">
        </div>
        <button (click)="toggleModal($event)" class="modal-close-button">X</button>
    </div>
</div>