<div class="row home-page-content">
    <!-- <div class="background-pic-wrapper">
        <img class="background-pic" src="assets/background.jpg">
    </div> -->
    <div class="picture-and-text column column-center-vertical">
        <div class="home-text-wrapper column">
            <span class="home-primary-text">Choose the day for the meeting</span>
            <span class="home-secondary-text">We encourage you to book your appointment online. This will save your time.</span>
        </div>
    </div>
    <div class="calendar-wrapper column column-center-vertical column-center-horizontal">
        <app-calendar></app-calendar>
    </div>
</div>
