.calendar-wrapper {
    background: #121e2f;
    color: #FFFFFF;
}

.home-page-content {
    flex-wrap: nowrap;
    height: calc(100vh - 85px);
    display: flex;
    flex-direction: row;
    background: #131f2f;
}

.picture-and-text {
    width: -webkit-fill-available;
    padding-right: 20px;
    align-items: flex-end;
    background-image: url('https://w.wallhaven.cc/full/ne/wallhaven-nekxjk.png');
    background-size: cover;
}

.home-text-wrapper {
    max-width: 300px;
}

.home-text-wrapper > span {
    text-align: right;
}

.home-primary-text {
    color: #fdd000;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
}

.home-secondary-text {
    color: #FFFFFF;
}

@media only screen and (max-width: 700px) {
    .home-page-content {
        flex-direction: column;
    }

    .picture-and-text {
        align-items: center;
        padding: 20px 0;
    }

    .home-secondary-text {
        text-align: center !important;
    }
}