.about-page-wrapper {
    padding: 20px 70px;
}

.about-page-wrapper > p {
    font-size: 15px;
    font-weight: 200;
}

.about-title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 25px;
}

@media only screen and (max-width: 500px) {
    .about-title {
        text-align: center;
    }
}