<div class="column calendar-wrapper">
    <div class="row calendar-nav row-center-vertical">
        <button class="cal-month-button" (click)="onPreviousMonth()" [innerHTML]="arrowLeft"></button>
        <div class="row">
            <span>{{calendarCreator.getMonthName(monthNumber)}}</span>
            <span class="cal-year">{{year}}</span>
        </div>
        <button class="cal-month-button" (click)="onNextMonth()" [innerHTML]="arrowRight"></button>
    </div>
      
    <div class="calendar">
        <div>
            <span (click)="toggleModal()" *ngFor='let day of monthDays' class="day-number">{{day.number}}</span>
        </div>
        <div class="row week-days-row">
            <div *ngFor='let weekDay of weekDaysName' class="day-name row row-center-horizontal">
                <span>{{weekDay}}</span>
            </div>
        </div>
        <!-- Modal -->

        <div *ngIf="showModal" class="cal-modal column column-center-vertical">
            <!-- Modal content -->
            <div class="modal-content">
              <span (click)="toggleModal()" class="close">&times;</span>
              <p>Some text in the Modal..</p>
            </div>
          </div>
    </div>
</div>
