.calendar {
  width: 280px;
  position: relative;

  .day-name{
    min-width: 40px;
    display: inline-block;
    padding: 10px;
    text-align: center;
  }
}  

.calendar-nav {
  flex-wrap: nowrap;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
  justify-content: space-between;
  text-transform: uppercase;
}

.week-days-row {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  padding: 10px 0;
  margin-top: 10px;
}

.calendar-wrapper {
  padding: 50px;
}

.cal-year {
  margin-left: 5px;
}

.cal-month-button {
  border: none;
  background: inherit;
  cursor: pointer;
  outline: none;
}

.cal-month-button:active {
  outline: none;
}

.cal-month-button:focus {
  outline: none;
}

@media only screen and (max-width: 700px) {
  .calendar-wrapper {
    padding: 25px;
  }
}
